<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>上海思锐</title><head>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>
<script language = "JavaScript">
function CheckForm()
{
  if (document.form1.oldpwd.value=="")
  {
    alert("老密码输入为空！");
	document.form1.oldpwd.focus();
	return false;
  }
     if (document.form1.newpwd.value=="")
  {
    alert("新密码不能为空！");
	document.form1.newpwd.focus();
	return false;
  }
    if (document.form1.newpwd2.value=="")
  {
    alert("密码确认不能为空！");
	document.form1.newpwd2.focus();
	return false;
  }
    if (document.form1.newpwd.value!=document.form1.newpwd2.value)
  {
    alert("2次输入的密码不相同！");
	document.form1.newpwd2.focus();
	return false;
  }
}
</script><table width="100%" border="0">
  <tr>
    <td class="bgFleet borderBottom">&nbsp;&nbsp;<img src="../../templates/admincp/img/checked.gif" width="14" height="14"> 编辑用户密码</td>
  </tr>
</table>

<form action="" method="post" enctype="application/x-www-form-urlencoded" name="form1" target="_self" onSubmit="return CheckForm();">
   <table class="opt">
    <tr>
      <td>原始密码： </td>
      <td valign="top"><input name="oldpwd" type="password"  id="pwd"  size="40"  onBlur="check('pwd','div_oldpwd')"/>
       <span class="red"> *</span> <div id="div_oldpwd" style="position:absolute;"></div></td>
    </tr> 
	   <tr>
      <td>新设密码： </td>
      <td valign="top"><input name="newpwd" type="password"  id="newpwd"  size="40"  onBlur="check('newpwd','div_newpwd')"/>
       <span class="red"> *</span> <div id="div_newpwd" style="position:absolute;"></div></td>
    </tr> 
	   <tr>
      <td>密码确认： </td>
      <td valign="top"><input name="newpwd2" type="password" id="newpwd2"  size="40"  onBlur="checkpass('newpwd2','div_newpwd2')"/>
       <span class="red"> *</span> <div id="div_newpwd2" style="position:absolute;"></div></td>
    </tr> 
   </table>
  <input  type="submit" class="inputButton" id="btnSubmit" value=" 立即修改">
  <input  type="reset" class="inputButton" id="btnSubmit" value=" 还原重填 ">
  <input name="back"  type="button" class="inputButton" id="back" value=" 返回上级 "  onClick="history.go(-1)">
</form>
  
<span class="red">注意： 密码设置完成后系统将自动退出，请重新登陆系统初始化数据</span>
</body>
</html>